<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Menu</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>
<body>
    <div class="container">
        <h1>Choose Your Quiz</h1>
        <button onclick="location.href='quick_quiz.html'">Quick Quiz</button>
        <button onclick="location.href='create_quiz.html'">Create Quiz</button>
        <button onclick="location.href='secret_quiz.html'">Secret Quiz</button>
    </div>
</body>
</html>
